<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Tyson Jeffreys" content="">

    
  
    <title>staygolden.bike</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/stay-golden.css" rel="stylesheet">
    
  </head>