<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Tyson Jeffreys" content="">

    <meta property="og:title" content="staygolden.bike" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.staygolden.bike" />
    <meta property="og:image" content="https://prod-stay-golden-my-stack-bucketd7feb781-xpwnyl0434wd.s3.amazonaws.com/og-content/staygolden-og.png" />
  
    <title>staygolden.bike</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/stay-golden.css" rel="stylesheet">
    
  </head>