<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  

  <!-- Main Content -->
  <div id="page-wrapper">
  <div class="container">
    <div class="row-1">
      <div class="col-lg-8 col-md-10 mx-auto">
          <form action="/posts/store" method="POST"
          enctype="multipart/form-data">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name="title">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Desription</label>
              <textarea rows="5" class="form-control" id="body" name="body" ></textarea>              
              
            </div>
          </div>
          <div class="control-group">
              
            
            
              <div class="form-group floating-label-form-group controls">
              <label>Image</label>
              <input type="file" class="form-control" id="image"
                name="image">
              </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
        <input type="file" id="file-input">
              <p id="status">Please select a file</p>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
</div>

<script type="module">
  import exifr from '/exifr/dist/full.esm.js'
  
  function uploadFile(file, signedRequest, url){
    const xhr = new XMLHttpRequest();
    xhr.open('PUT', signedRequest);
    xhr.onreadystatechange = () => {
      if(xhr.readyState === 4){
        if(xhr.status === 200){
          console.log('success');
          window.location = "/";
        }
        else{
          alert('Could not upload file.')
        }
      }
    };
    xhr.send(file);
  }
  
  function getSignedRequest(file){
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
    xhr.onreadystatechange = () => {
      if(xhr.readyState === 4){
        if(xhr.status === 200){
          //console.log(xhr.responseText)
          const response = JSON.parse(xhr.responseText);
          console.log(response.url)
          console.log(response.signedRequest)
          uploadFile(file, response.signedRequest, response.url);
        }
        else{
          alert('Could not get signed URL.');
        }
      }
    };
    xhr.send();
  }

  async function getExifData(file){
    console.log('this is the name of the file: ' + file.name)
    let exifData = await exifr.parse(file)
    const xhr = new XMLHttpRequest();
    xhr.open('POST', `/sendExifData?file-name=${file.name}`);  
    xhr.setRequestHeader('Content-type','application/json')
    
      
    
    xhr.send(JSON.stringify(exifData));
  }

  function initUpload(){
    const files = document.getElementById('file-input').files;
    const file = files[0];
    if(file == null){
      return alert('No file selected.');
    }
    getExifData(file);
    getSignedRequest(file);
    
  }
  
  (() => {
    document.getElementById('file-input').onchange = initUpload; 
      
  })();
  
</script>
<!--
<script type="module">
  import exifr from '/exifr/dist/lite.esm.js'
  document.querySelector('#image').addEventListener('change', async e => {
    let file = e.target.files[0]
    let exifData = await exifr.parse(file)
    console.log('exifData', exifData)
  })
</script>

-->
<%- include('layouts/script.ejs'); -%>



</body>

</html>
