<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

<a class="nav-link" href="/upload">New Post</a>

  <div id="page-wrapper">
    <div class="container">
          <div class="row-1">
            <div class="logo-column"></div>
            <div class="logo">STAY GOLDEN</div>
          </div>
          <% blogposts.reverse().forEach(posts =>  { %> 
          <div class="row-2">
            <div class="left-column">
              <div class="bicycle-map">
                <img src="img/bicycle-pin-svgrepo-com.svg" />
              </div>
              <div class="title-column"> 
                <p class="title"><%= posts.city + ", " + posts.state %></p>
                <p class="date"><%= posts.datePosted.toDateString() %></p>
              </div>
            </div>
            <div id="home-image">
              <img src="<%= posts.image %>">
            </div>
          </div>
          <% }) %>
    </div>
  </div>
  <div id="test">TEST</div>

</body>

</html>
